# Python virtual environments
**/gaiasnapshot/**
**/venv/**
**/.env/**

# Python cache files
**/__pycache__/**
*.pyc

# Node modules
node_modules/

# Build directories
dist/
build/

# Other common directories to ignore
.next/
coverage/ 